<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" style="text-decoration: none; margin-right: 30px">Xin chào, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Đăng xuất</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Đăng ký</a>
        <a href="Identity/Account/Login">Đăng nhập</a>
    </NotAuthorized>
</AuthorizeView>
