<div class="to p-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Luận văn thạc sĩ</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Trang chủ
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin,Bcnkhoa">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="nha-khoa-hoc">
                    <span class="oi oi-person" aria-hidden="true"></span> Nhà khoa học
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin,Bcnkhoa">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="hoc-vien">
                    <span class="oi oi-people" aria-hidden="true"></span> Học viên
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mo-dot-bao-ve">
                    <span class="oi oi-book" aria-hidden="true"></span> Mở đợt bảo vệ
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="hoi-dong-danh-gia">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Hội đồng đánh giá
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
