
<luanvanthacsi.Data.Components.Lazy>
    <Tabs OnChange="OnTabChange" DefaultActiveKey="1" ActiveKey="@activeTab">
        <TabBarExtraContent>
            <Space>
                <SpaceItem>
                    <Button OnClick="SaveAsync" type="@ButtonType.Primary">Lưu</Button>
                </SpaceItem>
                <SpaceItem>
                    <Tooltip Placement="@Placement.Top" Title="@("Hủy")">
                        <Popconfirm Title="Xác nhận Hủy?"
                                    OnConfirm="CancelAsync"
                                    OkText="Có"
                                    CancelText="Không">
                            <Button Danger>Hủy</Button>
                        </Popconfirm>
                    </Tooltip>
                </SpaceItem>
            </Space>
        </TabBarExtraContent>
        <ChildContent>
            <TabPane Key="1" ForceRender>
                <TabTemplate>
                    <span><Icon Type="user" />Học viên  >></span>
                </TabTemplate>
                <ChildContent>
                    <StudentOfEvaluationBoard @ref="StudentOfEvaluationBoardRef"></StudentOfEvaluationBoard>
                </ChildContent>
            </TabPane>
            <TabPane Key="2" ForceRender>
                <TabTemplate>
                    <span><Icon Type="user" />Chủ tịch  >></span>
                </TabTemplate>
                <ChildContent>
                    <President @ref="PresidentRef" PresidentSelect="2a03ae33-0921-4f58-9db9-a73bdcbc1baa"></President>
                </ChildContent>
            </TabPane>
            <TabPane Key="3" ForceRender>
                <TabTemplate>
                    <span><Icon Type="user" />Phản biện  >></span>
                </TabTemplate>
                <ChildContent>
                    <Counterattacker @ref="CounterattackerRef"></Counterattacker>
                </ChildContent>
            </TabPane>
            <TabPane Key="4" ForceRender>
                <TabTemplate>
                    <span><Icon Type="user" />Nhà khoa học  >></span>
                </TabTemplate>
                <ChildContent>
                    <ScientistOfEvaluationBoard @ref="ScientistOfEvaluationBoardRef"></ScientistOfEvaluationBoard>
                </ChildContent>
            </TabPane>
            <TabPane Key="5" ForceRender>
                <TabTemplate>
                    <span><Icon Type="user" />Thư ký</span>
                </TabTemplate>
                <ChildContent>
                    <SecretaryOfEvaluationBoard @ref="SecretaryOfEvaluationBoardRef"></SecretaryOfEvaluationBoard>
                </ChildContent>
            </TabPane>
        </ChildContent>
    </Tabs>
</luanvanthacsi.Data.Components.Lazy>
