@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@using System.ComponentModel;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]

<Table @ref="table" DataSource="scientistDatas" Loading="loading" Locale="TableLocale" ScrollBarWidth="5px"
       TItem="ScientistData" ScrollX="1350" ScrollY="600" Size=@TableSize.Small PageSize="1000" HidePagination
       Bordered @bind-SelectedRows="selectedRows">
    @if (!SelectedScientistIds.Contains(context.Id))
    {
        <Selection Key="@context.Id" Type="radio"></Selection>
        <Column @bind-Field="context.Code" Filterable Sortable></Column>
        <Column @bind-Field="context.Name" Filterable Sortable></Column>
        <Column @bind-Field="context.Email" Filterable></Column>
        <Column @bind-Field="context.PhoneNumber"></Column>
        <Column @bind-Field="context.InUniversity">
            @if (context.InUniversity == 1)
            {
                <span>Trong trường</span>
            }
            else
            {
                <span>Ngoài trường</span>
            }
        </Column>
        <Column @bind-Field="context.WorkingAgency" Ellipsis></Column>
        <Column @bind-Field="context.SpecializedName" Ellipsis></Column>
        <Column @bind-Field="context.AcademicRank">
            @if (context.AcademicRank == 1)
            {
                <span>Giáo sư</span>
            }
            else if (context.AcademicRank == 0)
            {
                <span>Phó giáo sư</span>
            }
        </Column>
        <Column @bind-Field="context.Degree"></Column>     
    }
</Table>
