@using luanvanthacsi.Data.Components
@using luanvanthacsi.Data.Data;
@using System.ComponentModel;
@attribute [Authorize(Roles = "Admin,Bcnkhoa")]
<PageTitle>Quản lý Chủ tịch</PageTitle>
<PageHeader Style="padding: 0;">
    <PageHeaderExtra>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem>Chủ tịch</BreadcrumbItem>
            <BreadcrumbItem>Danh sách chủ tịch</BreadcrumbItem>
        </Breadcrumb>
    </PageHeaderExtra>
</PageHeader>
<br />

<Table @ref="table" DataSource="lecturersDatas" Loading="loading" Locale="TableLocale"
       TItem="LecturersData" ScrollX="1350"
       @bind-SelectedRows="selectedRows">
    <ChildContent>
        <Selection Key="@context.Id" Type="radio" Fixed="left" Width="50"></Selection>
        <Column @bind-Field="context.stt" Width="100" Sortable Fixed="left"></Column>
        <Column @bind-Field="context.Code" Ellipsis Sortable Fixed="left" Filterable></Column>
        <Column @bind-Field="context.Name" Ellipsis Sortable Width="150" Fixed="left" Filterable></Column>
        <Column @bind-Field="context.Title" Ellipsis Sortable Width="150" Fixed="left" Filterable></Column>
        <Column @bind-Field="context.Email" Ellipsis Width="200"></Column>
        <Column @bind-Field="context.PhoneNumber" Ellipsis Filterable></Column>
        @*<Column @bind-Field="context.DateOfBirth" Format="dd/MM/yyyy" Sortable></Column>*@
    </ChildContent>
    <PaginationTemplate>
        <PaginationCustom Context="context"></PaginationCustom>
    </PaginationTemplate>
</Table>
